#include <physical_layouts.dtsi>

/ {
    physical_layout: physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";
        transform = <&default_transform>;
        kscan = <&kscan0>;
        keys  //                     w   h    x     y           rot   rx    ry
            = <&key_physical_attrs 100 100    0     (30)        0     0     0>
            , <&key_physical_attrs 100 100  100     (30)        0     0     0>
            , <&key_physical_attrs 100 100  200     (-10)       0     0     0>
            , <&key_physical_attrs 100 100  300     (-10)       0     0     0>
            , <&key_physical_attrs 100 100  400     0           0     0     0>
            , <&key_physical_attrs 100 100  500     0           0     0     0>
            , <&key_physical_attrs 100 100  600     0           0     0     0>

            , <&key_physical_attrs 100 100  800     0           0      0     0>
            , <&key_physical_attrs 100 100  900     0           0      0     0>
            , <&key_physical_attrs 100 100 1000     0           0      0     0>
            , <&key_physical_attrs 100 100 1100     (-10)       0      0     0>
            , <&key_physical_attrs 100 100 1200     (-10)       0      0     0>
            , <&key_physical_attrs 100 100 1300     (30)        0      0     0>
            , <&key_physical_attrs 100 100 1400     (30)        0      0     0>

		// ROW2
            , <&key_physical_attrs 100 100    0     135         0      0     0>
            , <&key_physical_attrs 100 100  100     135         0      0     0>
            , <&key_physical_attrs 100 100  200     95          0      0     0>
            , <&key_physical_attrs 100 100  300     95          0      0     0>
            , <&key_physical_attrs 100 100  400     105         0      0     0>
            , <&key_physical_attrs 100 100  500     105         0      0     0>
            , <&key_physical_attrs 100 100  600     105         0      0     0>

            , <&key_physical_attrs 100 100   800     105         0      0      0>
            , <&key_physical_attrs 100 100   900     105         0      0      0>
            , <&key_physical_attrs 100 100  1000     105         0      0      0>
            , <&key_physical_attrs 100 100  1100     95          0      0      0>
            , <&key_physical_attrs 100 100  1200     95          0      0      0>
            , <&key_physical_attrs 100 100  1300     135         0      0      0>
            , <&key_physical_attrs 100 100  1400     135         0      0      0>
        // ROW3
            , <&key_physical_attrs 100 100    0    240         0      0      0>
            , <&key_physical_attrs 100 100  100     240         0      0      0>
            , <&key_physical_attrs 100 100  200     200         0      0      0>
            , <&key_physical_attrs 100 100  300     200         0      0      0>
            , <&key_physical_attrs 100 100  400     210         0      0      0>
            , <&key_physical_attrs 100 100  500     210         0      0      0>
            , <&key_physical_attrs 100 100  600     210         0      0      0>

            , <&key_physical_attrs 100 100   800    210         0      0      0>
            , <&key_physical_attrs 100 100   900    210         0      0      0>
            , <&key_physical_attrs 100 100  1000    210         0      0      0>
            , <&key_physical_attrs 100 100  1100    200         0      0      0>
            , <&key_physical_attrs 100 100  1200    200         0      0      0>
            , <&key_physical_attrs 100 100  1300    240         0      0      0>
            , <&key_physical_attrs 100 100  1400    240         0      0      0>
// ROW4
            , <&key_physical_attrs 100 100    0    345         0      0      0>
            , <&key_physical_attrs 100 100  100     345         0      0      0>
            , <&key_physical_attrs 100 100  200     305         0      0      0>
            , <&key_physical_attrs 100 100  300     305         0      0      0>
            , <&key_physical_attrs 100 100  400     315         0      0      0>
            , <&key_physical_attrs 100 100  500     315         0      0      0>
            , <&key_physical_attrs 100 100  600     315         0      0      0>

            , <&key_physical_attrs 100 100   800    315         0      0      0>
            , <&key_physical_attrs 100 100   900    315         0      0      0>
            , <&key_physical_attrs 100 100  1000    315         0      0      0>
            , <&key_physical_attrs 100 100  1100    305         0      0      0>
            , <&key_physical_attrs 100 100  1200    305         0      0      0>
            , <&key_physical_attrs 100 100  1300    345         0      0      0>
            , <&key_physical_attrs 100 100  1400    345         0      0      0>
// 2 Keys left
            , <&key_physical_attrs 100 100 200      410     0   0   0>
            , <&key_physical_attrs 100 100 300      410     0   0   0>

            // 2 Keys left
            , <&key_physical_attrs 100 100 1100     410     0   0   0>
            , <&key_physical_attrs 100 100 1200     410     0   0   0>

// rx = x + (width / 2) = x + 50
// ry = y + (height / 2) = y + 50
// Left Thumb Cluster
	    	, <&key_physical_attrs 100 100 400     450     2000   450  500>
    		, <&key_physical_attrs 100 100 500     450     2000   550  500>
            , <&key_physical_attrs 100 100 550     550     6000   600  600>
            , <&key_physical_attrs 100 100 670     550     6000   720  600>
            , <&key_physical_attrs 100 100 550     650     6000   600  700>
            , <&key_physical_attrs 100 100 670     650     6000   720  700>

//		    , <&key_physical_attrs 100 100 700    410     0   0   0>
//		    , <&key_physical_attrs 100 100 800    410     0   0   0>
//		    , <&key_physical_attrs 100 100 900    410     0   0   0>

		//
//            , <&key_physical_attrs 100 100  190 420     0   0   0>
//            , <&key_physical_attrs 100 100  290 410     0   0   0>
//            , <&key_physical_attrs 100 100  390 410     0   0   0>
//            , <&key_physical_attrs 100 100  490 450     0   0   0>
//            , <&key_physical_attrs 100 100  590 450     0   0   0>
//
//            , <&key_physical_attrs 100 100  790 420     0   0   0>
//            , <&key_physical_attrs 100 100  890 420     0   0   0>
//            , <&key_physical_attrs 100 100  990 420     0   0   0>
//            , <&key_physical_attrs 100 100 1090 410     0   0   0>
//            , <&key_physical_attrs 100 100 1190 410     0   0   0>
//            , <&key_physical_attrs 100 100 1290 450     0   0   0>
//            , <&key_physical_attrs 100 100 1390 450     0   0   0>
//
//            , <&key_physical_attrs 100 100 (-30) 525     0   0   0>
//            , <&key_physical_attrs 100 100   70 525     0   0   0>
//            , <&key_physical_attrs 100 100  170 525     0   0   0>
//            , <&key_physical_attrs 100 100  270 525     0   0   0>
//            , <&key_physical_attrs 100 100  370 525     0   0   0>
//            , <&key_physical_attrs 100 100  470 525     0   0   0>
//            , <&key_physical_attrs 100 100  570 525     0   0   0>
//            , <&key_physical_attrs 100 100  770 525     0   0   0>
//            , <&key_physical_attrs 100 100  870 525     0   0   0>
//            , <&key_physical_attrs 100 100  970 525     0   0   0>
//            , <&key_physical_attrs 100 100 1070 525     0   0   0>
//            , <&key_physical_attrs 100 100 1170 525     0   0   0>
//            , <&key_physical_attrs 100 100 1270 525     0   0   0>
//            , <&key_physical_attrs 100 100 1370 525     0   0   0>
//            , <&key_physical_attrs 100 100 (-30) 630     0   0   0>
//
//            , <&key_physical_attrs 100 100   70 630     0   0   0>
//            , <&key_physical_attrs 100 100  170 630     0   0   0>
//            , <&key_physical_attrs 100 100  270 630     0   0   0>
//            , <&key_physical_attrs 100 100  370 630     0   0   0>
//            , <&key_physical_attrs 100 100  470 630     0   0   0>
//            , <&key_physical_attrs 100 100  570 630     0   0   0>
//            , <&key_physical_attrs 100 100  770 630     0   0   0>
//            , <&key_physical_attrs 100 100  870 630     0   0   0>
//            , <&key_physical_attrs 100 100  970 630     0   0   0>
//            , <&key_physical_attrs 100 100 1070 630     0   0   0>
//            , <&key_physical_attrs 100 100 1170 630     0   0   0>
//            , <&key_physical_attrs 100 100 1270 630     0   0   0>
//            , <&key_physical_attrs 100 100 1370 630     0   0   0>;
		;
    };
};
