if SHIELD_COSMOS_DACTYL_LEFT

config ZMK_KEYBOARD_NAME
    default "cosmos_dactyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif # SHIELD_COSMOS_DACTYL_LEFT

if SHIELD_COSMOS_DACTYL_LEFT || SHIELD_COSMOS_DACTYL_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_COSMOS_DACTYL_LEFT || SHIELD_COSMOS_DACTYL_RIGHT


